.member-attendance-screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  .search-input {
    width: 45%;
    align-self: flex-start;
  }
  table {
    margin-bottom: 5vh;
    border: none;
    td {
      width: 55%;
      input {
        width: 100%;
        background-color: inherit;
      }
    }
  }
}

tr:nth-child(even) {
  background: #ccc;
}
tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  color: white;
  background-color: #0073a0;
}

@media screen and (max-width: 600px) {
  .member-attendance-screen {
    width: 100%;
    select {
      outline: none;
    }
    table {
      width: 50%;
      align-self: flex-start;
    }
    input {
      width: 60vw;
    }
  }
}
