table,
th,
td {
  border: 2px solid #333333;
  border-collapse: collapse;
}
table {
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  th,
  td {
    padding: 15px;
  }
}

@media screen and (max-width: 600px) {
  table {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin: 5vh 0;
  }
}
